<loading ng-show="loading"></loading>
<section class="register-section" layout='row' layout-align="center start" flex ng-init="init()">
    <div class="register-container" layout='column' flex layout-align="start center">
        <div class="credentials-inner">
            <img class="checkedup-logo" flex src="images/checkedup-logo.svg" alt="CheckedUp logo">
            <img class="doctor-rounded" ng-src="{{patient.doctor_picture}}" ng-hide="patient.doctor_picture==''" alt="Doctor image">
            <p><span class="doctor-mame">{{patient.doctor_prefix}} {{patient.doctor_last_name}}</span> has invited you to get educated about <b><span class="surgery-name">Cataract Surgery</span></b>.<br />
                Check that your info is correct and click <b>&quot;Get Started&quot;</b>.</p>
            <md-whiteframe class="md-whiteframe-1dp" flex layout="column" layout-align="center center">
                <form name="registerForm" novalidate>
                    <md-input-container>
                        <label>First Name</label>
                        <input type="text" ng-model="patient.first_name" name="firstName" required>
                        <div ng-messages="registerForm.firstName.$error" ng-show="submitted">
                            <div ng-message="required">* The first name is required</div>
                        </div>
                    </md-input-container>

                    <md-input-container>
                        <label>Email</label>
                        <input type="email" ng-model="patient.email" name="email" required>
                        <div ng-messages="registerForm.email.$error" ng-show="submitted">
                            <div ng-message="required">* The email is required</div>
                        </div>
                    </md-input-container>
                    <div class="credentials-actions" layout="row" layout-sm="column" layout-align="start start" layout-align-sm="start start">
                        <md-button class="md-raised md-accent" flex-order="1" flex-order-sm="2" ng-click="register()">GET STARTED</md-button>
                        <div class="terms-container"  flex-order="2" flex-order-sm="1">
                            <div class="terms-wrapper" layout="row">
                                <md-checkbox id="terms_checkbox"  required name='agreedToTou'
                                    ng-model="user.agreedToTou" aria-label="Terms">
                                    I consent to

                                </md-checkbox>

                                <a id="terms_btn" ng-click="showTerms($event)">Terms</a>
                            </div>

                            <div ng-messages="registerForm.agreedToTou.$error" ng-show="submitted" >
                                <div ng-message="required">* please accept the terms before getting started</div>
                            </div>
                        </div>
                    </div>
                </form>
            </md-whiteframe>
            <div class="secondary-actions" layout="row" layout-align="end center">
                <md-button ng-click="goToLogin()">Already have an account?</md-button>
            </div>
        </div>

    </div>
</section>
